input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}


.auth-container{
    display: flex;
    width: 100vw;
.auth-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    .auth-box{
        padding-left: 1rem;
        padding-right: 1rem;
        .auth-heading{
            font-size: 2.5rem;
            color: #01265D;
            margin-bottom: 0.2rem;
        }
        .auth-head-bottom{
            font-size:1rem;
            color:#858585;
        }
        .auth-input{
            height: 2.5rem;
            width:100%;
            border-radius: 8px;
            border:1px solid #939393;
            padding-left:1rem;
            font-size: 1rem;
            margin-top: 0.9rem;
        }
        
        .eye-icon{
            display: flex;
            justify-content: end;
            margin-top: -1.81rem;
            font-size: 1.2rem;
        }
        .auth-sbutton{
            margin-top:1rem;
            height: 3rem;
            width:7rem;
            font-size: 1rem;
            background: #01265D;
            border-radius: 8px;
            color:white;
        }
        .auth-bottom-text{
            margin-top: 1rem;
            font-size:1rem;
            color:#858585;
            a{
                text-decoration: none;
                color: #E82E8A;
            }
        }
    }
}
}
@media(max-width:720px){
    .auth-container{
.login-left-container{
        display: none;
    }}
  }

