.event-container{
    padding: 2rem 5%;

    .mname{
        font-weight: 700;
        font-size: 60px;
        line-height: 72px;
    }

    .card-contain{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 1350px) {
    .card-contain{
        justify-content : flex-start !important ;
    }
}

@media (max-width: 860px) {
    .card-contain{
        justify-content : center !important ;
    }
}
